In [25]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [26]:
def percentage_MV(df):
    columns= list(df.columns)
    d = {}
    for x in columns:
        d[x]= df[x].isnull().sum()/len(df[x])
    
    missing_values = pd.DataFrame(d, index=['percentage of missing values'])
    return missing_values.transpose()

In [27]:
data = pd.read_csv(r"C:\Users\matui\Downloads\Group 5_ Patients survival data\dataset.csv")
survival = pd.DataFrame(data)
survival

,encounter_id,patient_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,icu_admit_source,...,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,apache_3j_bodysystem,apache_2_bodysystem,Unnamed: 83,hospital_death
0,66154,25312,118,68.0,22.730000,0,Caucasian,M,180.3,Floor,...,1.0,0.0,0.0,0.0,0.0,0.0,Sepsis,Cardiovascular,NaN,0
1,114252,59342,81,77.0,27.420000,0,Caucasian,F,160.0,Floor,...,1.0,0.0,0.0,0.0,0.0,0.0,Respiratory,Respiratory,NaN,0
2,119783,50777,118,25.0,31.950000,0,Caucasian,F,172.7,Accident & Emergency,...,0.0,0.0,0.0,0.0,0.0,0.0,Metabolic,Metabolic,NaN,0
3,79267,46918,118,81.0,22.640000,1,Caucasian,F,165.1,Operating Room / Recovery,...,0.0,0.0,0.0,0.0,0.0,0.0,Cardiovascular,Cardiovascular,NaN,0
4,92056,34377,33,19.0,NaN,0,Caucasian,M,188.0,Accident & Emergency,...,0.0,0.0,0.0,0.0,0.0,0.0,Trauma,Trauma,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91708,91592,78108,30,75.0,23.060250,0,Caucasian,M,177.8,Floor,...,1.0,0.0,0.0,0.0,0.0,1.0,Sepsis,Cardiovascular,NaN,0
91709,66119,13486,121,56.0,47.179671,0,Caucasian,F,183.0,Floor,...,0.0,0.0,0.0,0.0,0.0,0.0,Sepsis,Cardiovascular,NaN,0
91710,8981,58179,195,48.0,27.236914,0,Caucasian,M,170.2,Accident & Emergency,...,1.0,0.0,0.0,0.0,0.0,0.0,Metabolic,Metabolic,NaN,0
91711,33776,120598,66,NaN,23.297481,0,Caucasian,F,154.9,Accident & Emergency,...,0.0,0.0,0.0,0.0,0.0,0.0,Respiratory,Respiratory,NaN,0
91712,1671,53612,104,82.0,22.031250,1,Caucasian,F,160.0,Operating Room / Recovery,...,0.0,0.0,0.0,0.0,0.0,0.0,Gastrointestinal,Gastrointestinal,NaN,0

In [28]:
survival.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91713 entries, 0 to 91712
Data columns (total 85 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   encounter_id                   91713 non-null  int64
 1   patient_id                     91713 non-null  int64
 2   hospital_id                    91713 non-null  int64
 3   age                            87485 non-null  float64
 4   bmi                            88284 non-null  float64
 5   elective_surgery               91713 non-null  int64
 6   ethnicity                      90318 non-null  object
 7   gender                         91688 non-null  object
 8   height                         90379 non-null  float64
 9   icu_admit_source               91601 non-null  object
 10  icu_id                         91713 non-null  int64
 11  icu_stay_type                  91713 non-null  object
 12  icu_type                       91713 non-null  object
 13  pre_icu_los_days               91713 non-null  float64
 14  weight                         88993 non-null  float64
 15  apache_2_diagnosis             90051 non-null  float64
 16  apache_3j_diagnosis            90612 non-null  float64
 17  apache_post_operative          91713 non-null  int64
 18  arf_apache                     90998 non-null  float64
 19  gcs_eyes_apache                89812 non-null  float64
 20  gcs_motor_apache               89812 non-null  float64
 21  gcs_unable_apache              90676 non-null  float64
 22  gcs_verbal_apache              89812 non-null  float64
 23  heart_rate_apache              90835 non-null  float64
 24  intubated_apache               90998 non-null  float64
 25  map_apache                     90719 non-null  float64
 26  resprate_apache                90479 non-null  float64
 27  temp_apache                    87605 non-null  float64
 28  ventilated_apache              90998 non-null  float64
 29  d1_diasbp_max                  91548 non-null  float64
 30  d1_diasbp_min                  91548 non-null  float64
 31  d1_diasbp_noninvasive_max      90673 non-null  float64
 32  d1_diasbp_noninvasive_min      90673 non-null  float64
 33  d1_heartrate_max               91568 non-null  float64
 34  d1_heartrate_min               91568 non-null  float64
 35  d1_mbp_max                     91493 non-null  float64
 36  d1_mbp_min                     91493 non-null  float64
 37  d1_mbp_noninvasive_max         90234 non-null  float64
 38  d1_mbp_noninvasive_min         90234 non-null  float64
 39  d1_resprate_max                91328 non-null  float64
 40  d1_resprate_min                91328 non-null  float64
 41  d1_spo2_max                    91380 non-null  float64
 42  d1_spo2_min                    91380 non-null  float64
 43  d1_sysbp_max                   91554 non-null  float64
 44  d1_sysbp_min                   91554 non-null  float64
 45  d1_sysbp_noninvasive_max       90686 non-null  float64
 46  d1_sysbp_noninvasive_min       90686 non-null  float64
 47  d1_temp_max                    89389 non-null  float64
 48  d1_temp_min                    89389 non-null  float64
 49  h1_diasbp_max                  88094 non-null  float64
 50  h1_diasbp_min                  88094 non-null  float64
 51  h1_diasbp_noninvasive_max      84363 non-null  float64
 52  h1_diasbp_noninvasive_min      84363 non-null  float64
 53  h1_heartrate_max               88923 non-null  float64
 54  h1_heartrate_min               88923 non-null  float64
 55  h1_mbp_max                     87074 non-null  float64
 56  h1_mbp_min                     87074 non-null  float64
 57  h1_mbp_noninvasive_max         82629 non-null  float64
 58  h1_mbp_noninvasive_min         82629 non-null  float64
 59  h1_resprate_max                87356 non-null  float64
 60  h1_resprate_min                87356 non-null  float64
 61  h1_spo2_max                    87528 non-null  float64
 62  h1_spo2_min                    87528 non-null  float64
 63  h1_sysbp_max                   88102 non-null  float64
 64  h1_sysbp_min                   88102 non-null  float64
 65  h1_sysbp_noninvasive_max       84372 non-null  float64
 66  h1_sysbp_noninvasive_min       84372 non-null  float64
 67  d1_glucose_max                 85906 non-null  float64
 68  d1_glucose_min                 85906 non-null  float64
 69  d1_potassium_max               82128 non-null  float64
 70  d1_potassium_min               82128 non-null  float64
 71  apache_4a_hospital_death_prob  83766 non-null  float64
 72  apache_4a_icu_death_prob       83766 non-null  float64
 73  aids                           90998 non-null  float64
 74  cirrhosis                      90998 non-null  float64
 75  diabetes_mellitus              90998 non-null  float64
 76  hepatic_failure                90998 non-null  float64
 77  immunosuppression              90998 non-null  float64
 78  leukemia                       90998 non-null  float64
 79  lymphoma                       90998 non-null  float64
 80  solid_tumor_with_metastasis    90998 non-null  float64
 81  apache_3j_bodysystem           90051 non-null  object
 82  apache_2_bodysystem            90051 non-null  object
 83  Unnamed: 83                    0 non-null      float64
 84  hospital_death                 91713 non-null  int64
dtypes: float64(71), int64(7), object(7)
memory usage: 59.5+ MB

In [29]:
survival.shape

(91713, 85)

In [30]:
survival.columns

Index(['encounter_id', 'patient_id', 'hospital_id', 'age', 'bmi',
       'elective_surgery', 'ethnicity', 'gender', 'height', 'icu_admit_source',
       'icu_id', 'icu_stay_type', 'icu_type', 'pre_icu_los_days', 'weight',
       'apache_2_diagnosis', 'apache_3j_diagnosis', 'apache_post_operative',
       'arf_apache', 'gcs_eyes_apache', 'gcs_motor_apache',
       'gcs_unable_apache', 'gcs_verbal_apache', 'heart_rate_apache',
       'intubated_apache', 'map_apache', 'resprate_apache', 'temp_apache',
       'ventilated_apache', 'd1_diasbp_max', 'd1_diasbp_min',
       'd1_diasbp_noninvasive_max', 'd1_diasbp_noninvasive_min',
       'd1_heartrate_max', 'd1_heartrate_min', 'd1_mbp_max', 'd1_mbp_min',
       'd1_mbp_noninvasive_max', 'd1_mbp_noninvasive_min', 'd1_resprate_max',
       'd1_resprate_min', 'd1_spo2_max', 'd1_spo2_min', 'd1_sysbp_max',
       'd1_sysbp_min', 'd1_sysbp_noninvasive_max', 'd1_sysbp_noninvasive_min',
       'd1_temp_max', 'd1_temp_min', 'h1_diasbp_max', 'h1_diasbp_min',
       'h1_diasbp_noninvasive_max', 'h1_diasbp_noninvasive_min',
       'h1_heartrate_max', 'h1_heartrate_min', 'h1_mbp_max', 'h1_mbp_min',
       'h1_mbp_noninvasive_max', 'h1_mbp_noninvasive_min', 'h1_resprate_max',
       'h1_resprate_min', 'h1_spo2_max', 'h1_spo2_min', 'h1_sysbp_max',
       'h1_sysbp_min', 'h1_sysbp_noninvasive_max', 'h1_sysbp_noninvasive_min',
       'd1_glucose_max', 'd1_glucose_min', 'd1_potassium_max',
       'd1_potassium_min', 'apache_4a_hospital_death_prob',
       'apache_4a_icu_death_prob', 'aids', 'cirrhosis', 'diabetes_mellitus',
       'hepatic_failure', 'immunosuppression', 'leukemia', 'lymphoma',
       'solid_tumor_with_metastasis', 'apache_3j_bodysystem',
       'apache_2_bodysystem', 'Unnamed: 83', 'hospital_death'],
      dtype='object')

In [31]:
survival.isnull().sum()

encounter_id                       0
patient_id                         0
hospital_id                        0
age                             4228
bmi                             3429
                               ...
solid_tumor_with_metastasis      715
apache_3j_bodysystem            1662
apache_2_bodysystem             1662
Unnamed: 83                    91713
hospital_death                     0
Length: 85, dtype: int64

In [32]:
list_wanted_columns = ['patient_id', 'hospital_id', 'age', 'ethnicity', 'gender', 'height','icu_admit_source','weight','aids','cirrhosis', 'diabetes_mellitus','hepatic_failure', 'immunosuppression', 'leukemia', 'lymphoma','solid_tumor_with_metastasis','hospital_death','d1_heartrate_max', 'd1_heartrate_min','d1_glucose_max', 'd1_glucose_min']
columns = list(survival.columns)
unwanted = [x for x in columns if x not in list_wanted_columns]
for x in unwanted:
    del survival[f'{x}']

In [33]:
survival

,patient_id,hospital_id,age,ethnicity,gender,height,icu_admit_source,weight,d1_heartrate_max,d1_heartrate_min,...,d1_glucose_min,aids,cirrhosis,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,hospital_death
0,25312,118,68.0,Caucasian,M,180.3,Floor,73.9,119.0,72.0,...,109.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1,59342,81,77.0,Caucasian,F,160.0,Floor,70.2,118.0,72.0,...,128.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
2,50777,118,25.0,Caucasian,F,172.7,Accident & Emergency,95.3,96.0,68.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,46918,118,81.0,Caucasian,F,165.1,Operating Room / Recovery,61.7,116.0,92.0,...,88.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,34377,33,19.0,Caucasian,M,188.0,Accident & Emergency,NaN,89.0,60.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91708,78108,30,75.0,Caucasian,M,177.8,Floor,72.9,115.0,70.0,...,187.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0
91709,13486,121,56.0,Caucasian,F,183.0,Floor,158.0,100.0,76.0,...,177.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
91710,58179,195,48.0,Caucasian,M,170.2,Accident & Emergency,78.9,158.0,79.0,...,86.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
91711,120598,66,NaN,Caucasian,F,154.9,Accident & Emergency,55.9,82.0,60.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
91712,53612,104,82.0,Caucasian,F,160.0,Operating Room / Recovery,56.4,104.0,71.0,...,158.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [34]:
survival.isnull().sum()/len(survival)

patient_id                     0.000000
hospital_id                    0.000000
age                            0.046100
ethnicity                      0.015210
gender                         0.000273
height                         0.014545
icu_admit_source               0.001221
weight                         0.029658
d1_heartrate_max               0.001581
d1_heartrate_min               0.001581
d1_glucose_max                 0.063317
d1_glucose_min                 0.063317
aids                           0.007796
cirrhosis                      0.007796
diabetes_mellitus              0.007796
hepatic_failure                0.007796
immunosuppression              0.007796
leukemia                       0.007796
lymphoma                       0.007796
solid_tumor_with_metastasis    0.007796
hospital_death                 0.000000
dtype: float64

In [35]:
columns = list(survival.columns)
for x in survival.columns:
    survival.drop(survival[survival[x].isnull()].index, inplace = True)

In [36]:
survival.isnull().sum()/len(survival)

patient_id                     0.0
hospital_id                    0.0
age                            0.0
ethnicity                      0.0
gender                         0.0
height                         0.0
icu_admit_source               0.0
weight                         0.0
d1_heartrate_max               0.0
d1_heartrate_min               0.0
d1_glucose_max                 0.0
d1_glucose_min                 0.0
aids                           0.0
cirrhosis                      0.0
diabetes_mellitus              0.0
hepatic_failure                0.0
immunosuppression              0.0
leukemia                       0.0
lymphoma                       0.0
solid_tumor_with_metastasis    0.0
hospital_death                 0.0
dtype: float64

In [37]:
list_wanted_columns

['patient_id',
 'hospital_id',
 'age',
 'ethnicity',
 'gender',
 'height',
 'icu_admit_source',
 'weight',
 'aids',
 'cirrhosis',
 'diabetes_mellitus',
 'hepatic_failure',
 'immunosuppression',
 'leukemia',
 'lymphoma',
 'solid_tumor_with_metastasis',
 'hospital_death',
 'd1_heartrate_max',
 'd1_heartrate_min',
 'd1_glucose_max',
 'd1_glucose_min']

----

In [39]:
conditions = [
    survival['age']<20,
    ((survival['age']>=20)&(survival['age']<30)),
    ((survival['age']>=30)&(survival['age']<40)),
    ((survival['age']>=40)&(survival['age']<50)),
    ((survival['age']>=50)&(survival['age']<60)),
    ((survival['age']>=60)&(survival['age']<70)),
    ((survival['age']>=70)&(survival['age']<80)),
    ((survival['age']>=80)&(survival['age']<90))
]

choices = ['10-20',
           '20-30',
          '30-40',
          '40-50',
          '50-60',
          '60-70',
          '70-80',
          '80-90']

survival['age_bins'] = np.select(conditions, choices, 'huge')

In [40]:
conditions2 = [
    survival['height']<140,
    ((survival['height']>=140)&(survival['height']<150)),
    ((survival['height']>=150)&(survival['height']<160)),
    ((survival['height']>=160)&(survival['height']<170)),
    ((survival['height']>=170)&(survival['height']<180)),
    ((survival['height']>=180)&(survival['height']<190)),
    ((survival['height']>=190)&(survival['height']<200))
]

choices2 = ['130-140',
           '140-150',
           '150-160',
           '160-170',
           '170-180',
           '180-190',
           '190-200']

survival['height_bins'] = np.select(conditions2, choices2, 'huge')

In [41]:
conditions3 = [
    survival['weight']<50,
    ((survival['weight']>=50)&(survival['weight']<70)),
    ((survival['weight']>=70)&(survival['weight']<90)),
    ((survival['weight']>=90)&(survival['weight']<110)),
    ((survival['weight']>=110)&(survival['weight']<130)),
    ((survival['weight']>=130)&(survival['weight']<150)),
    ((survival['weight']>=150)&(survival['weight']<170)),
    ((survival['weight']>=170)&(survival['weight']<190))
]

choices3 = ['30-50',
            '50-70',
            '70-90',
            '90-110',
            '110-130',
            '130-150',
            '150-170',
            '170-190']

survival['weight_bins'] = np.select(conditions3, choices3, 'huge')

In [42]:
survival

,patient_id,hospital_id,age,ethnicity,gender,height,icu_admit_source,weight,d1_heartrate_max,d1_heartrate_min,...,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,hospital_death,age_bins,height_bins,weight_bins
0,25312,118,68.0,Caucasian,M,180.3,Floor,73.9,119.0,72.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0,60-70,180-190,70-90
1,59342,81,77.0,Caucasian,F,160.0,Floor,70.2,118.0,72.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0,70-80,160-170,70-90
3,46918,118,81.0,Caucasian,F,165.1,Operating Room / Recovery,61.7,116.0,92.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,80-90,160-170,50-70
5,74489,83,67.0,Caucasian,M,190.5,Accident & Emergency,100.0,113.0,83.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0,60-70,190-200,90-110
6,49526,83,59.0,Caucasian,F,165.1,Accident & Emergency,156.6,112.0,70.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0,50-60,160-170,150-170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91706,59223,121,54.0,Native American,M,177.8,Accident & Emergency,62.5,78.0,55.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,50-60,170-180,50-70
91708,78108,30,75.0,Caucasian,M,177.8,Floor,72.9,115.0,70.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0,70-80,170-180,70-90
91709,13486,121,56.0,Caucasian,F,183.0,Floor,158.0,100.0,76.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,50-60,180-190,150-170
91710,58179,195,48.0,Caucasian,M,170.2,Accident & Emergency,78.9,158.0,79.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0,40-50,170-180,70-90
91712,53612,104,82.0,Caucasian,F,160.0,Operating Room / Recovery,56.4,104.0,71.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,80-90,160-170,50-70

In [38]:
survival.columns

Index(['patient_id', 'hospital_id', 'age', 'ethnicity', 'gender', 'height',
       'icu_admit_source', 'weight', 'd1_heartrate_max', 'd1_heartrate_min',
       'd1_glucose_max', 'd1_glucose_min', 'aids', 'cirrhosis',
       'diabetes_mellitus', 'hepatic_failure', 'immunosuppression', 'leukemia',
       'lymphoma', 'solid_tumor_with_metastasis', 'hospital_death'],
      dtype='object')

In [43]:
pd.crosstab(survival['icu_admit_source'], survival['hospital_death'])

hospital_death                 0     1
icu_admit_source
Accident & Emergency       41566  3798
Floor                      11544  1752
Operating Room / Recovery  15973   608
Other Hospital              1840   270
Other ICU                    452    65

In [58]:
col = ['nb_alive', 'nb_death']

In [ ]:
format column names
piv.columns = ['_'.join(str(s).strip() for s in col if s) for col in piv.columns]

#reset index
piv.reset_index(inplace=True)

#view updated pivot table
print(piv)

In [63]:
pd.crosstab(survival['gender'], survival['hospital_death'])

hospital_death      0     1
gender
F               32297  2984
M               39078  3509

In [57]:
pd.pivot_table(survival,values='hospital_death', index='gender', aggfunc='sum')

        hospital_death
gender
F                 2984
M                 3509

In [62]:
df = pd.crosstab(survival['ethnicity'], survival['hospital_death'])
df.rename(columns={0:'Alive', 1:'Death'})

hospital_death    Alive  Death
ethnicity
African American   7728    637
Asian               924     81
Caucasian         55480   5101
Hispanic           2930    304
Native American     666     65
Other/Unknown      3647    305

In [51]:
df

       hospital_id  hospital_death
0              118               0
1               81               0
3              118               0
5               83               0
6               83               0
...            ...             ...
91706          121               0
91708           30               0
91709          121               0
91710          195               0
91712          104               0

[77868 rows x 2 columns]

In [52]:
dfa = survival['hospital_id'].unique()

In [53]:
dfa

array([118,  81,  83,  77,  33, 149,  31, 151,  69,  46,  63, 113, 137,
        89, 168, 150, 140,  74,  34,  91, 198, 129,   4, 102, 124, 138,
       174, 169,  57, 134, 155,  85, 177,  78,  95,  98, 105,  76, 116,
         5, 119,  79, 171, 161, 128, 147, 112,  32,  55,  17, 136,  44,
       179,  88, 130,  72,  23, 109,  10, 204, 202, 117,  70, 160,  62,
        16, 199,  54, 186,  20, 107,  14, 100, 132,  87,  53,  21,  99,
        71, 182,  24, 200, 189,  60,  84,  26, 133,  27,   8, 194, 111,
       176, 187,  39, 101,  80,  90,  19,  94,  50, 192, 145, 180,  40,
        43,   9,  93, 185, 159, 157,  64, 125,  92, 166,  13,  37, 139,
       135,  51,  18, 181, 196, 158,  47, 197, 103,  38, 188,   2,  49,
       142,  35,  15, 146,  29,  36, 167,  30, 104, 121, 195,   3, 184,
         6, 183,  66], dtype=int64)

In [55]:
survival.to_csv(r'C:\Users\matui\Downloads\survival.csv', index=False, sep=';')